.App {
  background-color: #282c34;
  color:white;
  min-height: 100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header{
  display: flex;
  color:white
}

.headerDiv{
  display: flex;
  justify-content: space-between;
}
.headerlogo{
  width: 80px;
}
.headerSubText{
  align-items: center;
  display: flex;
  margin-right: 20px;


}

.contentDiv{
  display: block;
  margin-left:70px;
}

li::marker{
  color:#61dafb;
}

